* {
  font-family: "Poppins" !important;
}

/*Overflow-y and Display changes allows user to scroll without seeing the scrollbar on the side*/
body {
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  display: none;
}

button {
  width: 406px !important;
  height: 88px !important;

  border: 5px solid #ff7590 !important;
  box-sizing: border-box !important;
  border-radius: 30px !important;

  color: #ff7590 !important;
  font-size: 36px !important;
}

button:hover {
  color: white !important;
  background-color: #ff7590 !important;
}

.header {
  font-size: 50px;
  font-weight: bold;
}

.secondheader {
  font-size: 48px;
  font-weight: bold;
}

.subtitle {
  font-size: 30px;
  font-weight: 600;
}

.secondsubtitle {
  font-size: 24px;
  font-weight: 600;
}

.description {
  font-size: 24px;
  font-weight: normal;
}

.testimonial {
  background-color: #e2e2e2;
  border-radius: 20px;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 3%;
  padding-right: 3%;
  margin-left: 6%;
  margin-right: 6%;
}

.clickable:hover {
  cursor: pointer;
}
